/* This Css here define the ProductDetail position */
.textGroup {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.list {
  list-style: none;
  width: 80vw;
  height: 50rem;
  position: relative;
}
.list .item1 {
  position: absolute;
  top: -20%;
  right: -0%;
  opacity: 1;
  z-index: 10;
}
.list .item2 {
  position: absolute;
  top: 25%;
  right: -2%;
  opacity: 1;
  z-index: 10;
}
.list .item3 {
  position: absolute;
  top: 75%;
  right: 10%;
  opacity: 1;
  z-index: 10;
}
.list .item4 {
  position: absolute;
  top: 45%;
  left: 20%;
  opacity: 1;
  z-index: 10;
}
.list .item5 {
  position: absolute;
  top: -2%;
  left: 0%;
  opacity: 1;
  z-index: 10;
}
.list .item6 {
  position: absolute;
  top: 55%;
  left: -6%;
  opacity: 1;
  z-index: 10;
}
@media (max-width: 56.25em) {
  .textGroup {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .list {
    list-style: none;
    width: 80vw;
    height: 50rem;
    position: relative;
    z-index: 100;
  }
  .list .item1 {
    position: absolute;
    top: -10%;
    right: -0%;
    opacity: 1;
    z-index: 10;
  }
  .list .item2 {
    position: absolute;
    top: 24%;
    right: -2%;
    opacity: 1;
    z-index: 10;
  }
  .list .item3 {
    position: absolute;
    top: 50%;
    right: 30%;
    opacity: 1;
    z-index: 10;
  }
  .list .item4 {
    position: absolute;
    top: 35%;
    left: 20%;
    opacity: 1;
    z-index: 10;
  }
  .list .item5 {
    position: absolute;
    top: 17%;
    left: 0%;
    opacity: 1;
    z-index: 10;
  }
  .list .item6 {
    position: absolute;
    top: 45%;
    left: -6%;
    opacity: 1;
    z-index: 10;
  }
}
@media (max-width: 37.5em) {
  .textGroup {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
  }
  .list {
    list-style: none;
    width: 70vw;
    height: 50rem;
    margin-right: 2rem;
    position: relative;
    z-index: 100;
  }
  .list .item1 {
    position: absolute;
    top: -10%;
    right: -0%;
    opacity: 1;
    z-index: 10;
  }
  .list .item2 {
    position: absolute;
    top: 20%;
    right: -2%;
    opacity: 1;
    z-index: 10;
  }
  .list .item3 {
    position: absolute;
    top: 50%;
    right: 35%;
    opacity: 1;
    z-index: 10;
  }
  .list .item4 {
    position: absolute;
    top: 35%;
    left: 20%;
    opacity: 1;
    z-index: 10;
  }
  .list .item5 {
    position: absolute;
    top: 12%;
    left: 2%;
    opacity: 1;
    z-index: 10;
  }
  .list .item6 {
    position: absolute;
    top: 45%;
    left: -6%;
    opacity: 1;
    z-index: 10;
  }
}
/* .list li::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  display: block;
  top: 91%;
  left: 73%;
  transform: scale(var(--ggs, 1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px;
}
.list li::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px;
} */
