.button {
  position: relative;
  font-size: 1.6rem;
  color: var(--primary-color-dark);
  background-color: var(--secondary-color-light);
  border-radius: var(--border-radius-4);
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
}
.button:hover,
.button:active {
  background-color: #f2f2f2;
  color: rgba(126, 176, 176, 0.7);
}
